@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Cabin+Sketch&family=Modak&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Nav Bar*/

nav {
  height: 4rem;
  background-color: #0d0221;
  color: white;
  display: flex;
  align-items: center;
  font-family: "Cabin Sketch";
  width: 100%;
  justify-content: space-between;
}
#navbar {
  margin-right: 3rem;
}

nav > h1 {
  margin-left: 3rem;
}

a {
  color: #f3f3f3;
}

a:visited {
  color: white;
}

/* Landing Page */

#landing-page {
  background-color: #E8DB7D;
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

#landing-page > a > button {
  padding: 8rem;
  border-radius: 2rem;
  font-size: 4rem;
  font-family: "Barrio";
  background-color: #26408B;
  color: #f3f3f3;
}

/* Dashboards */

.dashboard {
  background-color: #E8DB7D;
  font-family: "Cabin Sketch";
  padding-left: 2rem;
  padding-top: 1rem;
  height: 100vh;
}

.dashboard h2, h3, p, li {
  margin: 1rem;
}

.topics-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
};