.login-wrapper {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    padding-top: 3rem;
    background-color: #D1DD69;
    min-height: calc(100vh - 3rem);
}

.login-wrapper p, input {
    margin: 0.5rem;
}